body {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

header, section {
  padding: 40px 0px 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 700;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
}

h1, .h1 {
  font-size: 3rem !important;
}

.font-lg  {
  font-size: 2.5rem !important;
}

.section {
  position: relative;
}

.section-heading {
    margin-bottom: 60px;
    position: relative;
}

.row {
  padding: 20px 0px;
}

.shape-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shape-left, .shape-right, .shape-center, .shape-top {
    position: absolute;
    max-width: 560px;
}

.header {
  text-align: center!important;
}

.header .shape-main {
  background-color: #5d3edc;
}

.header .shape-top {
  background-color: #ff4a59;
}

.header .shape-main, .banner .shape-main {
  bottom: 0;
  width: 100%;
  height: 210%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(65%, -30%) rotate(-60deg);
  transform: translate(65%, -30%) rotate(-60deg);
  position: absolute;
}

.banner .shape-main {
  -webkit-transform: translate(50%, -20%) rotate(-150deg);
  transform: translate(50%, -20%) rotate(-150deg);
}

.header .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(80%, -70%) rotate(-60deg);
  transform: translate(80%, -70%) rotate(-60deg);
  left: 50%;
}

.banner .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  transform: translate(100%, -65%) rotate(-60deg);
  -webkit-transform: translate(110%, -65%) rotate(-60deg);
  right: 20%;
  height: 150%;
}

.header .shape-background, .banner .shape-background {
  z-index: 0;
}

.banner {
    z-index: 1;  
}

.shape-background {
  background-color: #f9fbfd;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 120px;
  z-index: -1;
}

.gradient {
  background-color: transparent;
}

.gradient.gradient-53 {
  background-image: linear-gradient(-135deg, #ffc371 25%, #5d3edc 100%);
}

.gradient.gradient-35 {
  background-image: linear-gradient(-135deg, #ffbc5f 25%, #ff4a59 100%);
}

.col-lg-6, .col-lg-12 {
  margin: 20px 0 0 0;
}

.col-md-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(0,0,0,0.07);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.col-md-4:last-child  {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .col-md-4 {
    border-bottom: 0;
    border-right: 1px solid rgba(0,0,0,0.07);
  }
  .col-md-4:last-child  {
    border-right: 0;
  }
}

.lead {
  font-size: 1.25rem;
}

.shadow {
  -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.15);
}

.btn-3 {
  color: #fff;
  background-color: #5d3edc;
}

.btn-4 {
  color: #fff;
  background-color: #ff4a59;
  border-color: #ff4a59;
}

.btn-rounded {
  border-radius: 10rem;
}

.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  letter-spacing: 1.45px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  white-space: normal;
  text-align: center;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn:focus, .btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

a, a:focus, a:active, a:hover {
  outline: 0 !important;
  text-decoration: none;
}

a {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#conversion-rate, #how-does-it-work {
  position: relative;
  padding-top: 110px;
}

#conversion-rate .container, #how-does-it-work .container{
  text-align: center!important;
}

#conversion-rate:before, #how-does-it-work:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 130%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  background: #f6f9fc;
}

#how-does-it-work:before {
  height: 115%;
}

.footer {
  background: transparent;
  overflow: hidden;
  margin-top: -480px;
  padding-top: 500px;
  position: relative;
}

#footer:before, #footer-consumer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
  height: 400px;
  background: #f4f8fb;
  -webkit-transform: skew(0,-8deg);
  transform: skew(0,-8deg);
}

#footer-consumer {
  margin-top: 0px; 
  padding-top: 0px;
}

.color-1 {
  color: aliceblue!important;
}

.color-2 {
  color: #646f79 !important;
}

a.card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 15px;
  z-index: 499;
  z-index: calc(500 - 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 40px 20px 80px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  -webkit-transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,-webkit-box-shadow,-webkit-transform;
  transition-property: color,background-color,box-shadow,transform;
  transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  cursor: pointer;
}

a.card:hover, div.card:hover {
  color: #5d3edc!important; 
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

@media (min-width: 670px) {
  a.card {
    padding: 40px 40px 40px 100px;
  }
}

@media (min-width: 992px) {
  a.card {
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding: 20px 40px 20px 100px;
  }
}

@media (min-width: 1200px) {
  a.card {
    padding: 40px 40px 40px 100px;
  }
}

.cards .container-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
}

.container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
}

a.card svg {
  position: absolute;
  width: 110px;
  height: 80px;
  left: -35px;
}

@media (min-width: 670px) {
  a.card svg {
    left: -50px;
  }
}

@media (min-width: 880px) {
  a.card svg {
    left: -35px;
  }
}

.screen {
  margin-top: 4rem!important;
}

@media (min-width: 768px) {
  .screen  {
    margin-top: 11rem!important;
  }
}

@media (min-width: 992px) {
  .screen  {
    margin-top: 6rem!important;
  }
}

@media (min-width: 1200px) {
  .screen  {
    margin-top: 3rem!important;
  }
}

/*Merchants page only

.banks {
  height: 50px;
  border-radius: 20%;
}

.on-desktop {
  display: block;
}

.on-mobile {
  display: none;
}

#mobile {
  background-color: #fff;
  color: #000;
}

/*Consumers page only*/

a.normal-card {
  padding: 20px 40px;
}

.normal-card ul {
  margin: 0px;
}

.card-title {
  display: flex;
  align-items: center;
}

.media-body .card-title {
  justify-content: center;
  padding: 0px 0px;
}

@media (min-width: 768px) {
  .media-body .card-title {
    padding: 0px 40px;
  }
}

.icon {
  font-size: 2rem;
  width: 40px;
}

.media-body .icon {
  width: 100px;
}

.main {
  position:relative;
}

.main:before {
  content:'';
  position: absolute;
  width: 50px;
  height: 15px;
  z-index: -1;
  background-color: #33ffc1;
  top:-30px;
  left: 20px;
}

.image {
  position:relative;
}

.image:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
  background: url(../images/abstrakt-design-first-issue-1-04.svg);
  top: -150px;
  left: 0px;
}

@media (min-width: 768px) {
  .image:before {
    top: -200px;
    left: 400px;
  }
}

@media (min-width: 992px) {
  .image:before {
    top: -200px;
    left: 600px;
  }
}

#quick.main:before {
  width: 40px;
}

#transparent.main:before {
  width: 95px;
}

#safe.main:before {
  width: 30px;
}

.paynow {
  width:100px;
  top:-1px;
  position: relative;
}

@media (max-width: 670px) { 
  #how-does-it-work .section-heading {
    margin-bottom: 120px;
  }
}

.bank-logos {
  height: 30px;
}