@font-face {
  font-family: G-Roboto-n5;
  src: url('../data/fonts.gstatic.com_s_roboto_v19_KFOlCnqEu92Fr1MmEU9vAx05IsDqlA.ttf');
}
@font-face {
  font-family: G-Roboto-n4;
  src: url('../data/fonts.gstatic.com_s_roboto_v19_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: G-Comfortaa-n3;
  src: url('../data/fonts.gstatic.com_s_comfortaa_v22_1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMPrQVIT9c2c8.ttf');
}
@font-face {
  font-family: "G-Quattrocento Sans-n4";
  src: url('../data/fonts.gstatic.com_s_quattrocentosans_v11_va9c4lja2NVIDdIAAoMR5MfuElaRB3zOvU7eHGHJ.ttf');
}