{% extends "../i_love_lamp/index.html" %}
{% load static %}
{% block body %}

<header style="background-color: #ffffff;">
	<div class="container">
		<a class="upperleft" href="{% url 'payment_method' %}">
			<i class="fas fa-less-than"></i>
		</a>
		<h2>Payment</h2>
	</div>
</header>
<section class="section">
	<div class="container">
		<h1 style="text-align: left;">Confirm payment</h1>
	</div>
	<div class="container" style="padding-top: 60px;">
		<div class="shape-wrapper">
			<div class="shape shape-background shape-right"></div>
		</div>
		<div class="price">
			<h1 style="font-size: 3rem;">S${{transaction.amount|floatformat:2}}</h1>
			<div><strong>To:</strong> I Love Lamp Pte Ltd</div>
			<div><strong>Date: </strong>{% now "F j, Y" %}</div>
			<div><strong>Time: </strong>{% now "H:i" %}</div>
		</div>
	</div>
	<form method="post" action="{% url 'confirmation' %}">
		<div class="container account" style="text-align: left; padding-top: 60px;">
			{% if dbs %}
			<img class="bankimage" style="width:100px;" src="{% static 'i_love_lamp/images/dbs.png' %}" alt="DBS">
			{% endif %}
			{% if ocbc %}
			<img class="bankimage" style="width:100px;" src="{% static 'i_love_lamp/images/ocbc.png' %}" alt="OCBC">
			{% endif %}
			{% if dbs %}
			{% if deposit_accounts %}
	 				<div class="form-group">
			  			<label for="sel1"><strong>Bank account: </strong></label>
			  			<select class="form-control" id="sel1" name="account" style="width:50%">
			  				{% for currentAccount in deposit_accounts.currentAccounts %}
						    <option value="{{currentAccount.id}}">{{currentAccount.productDescription}} ({{currentAccount.accountNumber}}) | {{currentAccount.balances.availableBalance.currency}} {{currentAccount.balances.availableBalance.amount|floatformat:2}}</option>
							{% endfor %}
			  			</select>
					</div>
			{% endif %}
			{% endif %}
			{% if ocbc %}
			<div><strong>Account number: </strong><br>501999999001</div>
			{% endif %}
			<div><strong>Account holder: </strong><br>J. Doe</div>
		</div>
		<div class="container">
			<button class="button" type="submit">Buy</button>
		</div>
		{% csrf_token %}
	</form>
</section>
<footer>
	<div class="container footer">
		<h6>Pay with</h6>				
		<img style="width: 80px;height: 40px;" src="{% static 'i_love_lamp/images/paynow.png' %}" alt="PayNow">
	</div>
</footer>
{% endblock %}