{% extends "../i_love_lamp/index.html" %}
{% load static %}
{% block body %}

<header style="background-color: #ffffff;">
	<div class="container">
		<a class="upperleft" href="{% url 'payment_method' %}">
			<i class="fas fa-less-than"></i>
		</a>
		<h2>Checkout</h2>
	</div>
</header>
<section class="section">
	<div class="shape-wrapper">
		<div class="shape shape-background shape-main gradient gradient-53"></div>
		<div class="shape shape-background shape-top gradient gradient-35"></div>
	</div>
	<div class="container" style="padding-top: 60px;">
		<h1 style="text-align: left;">Select bank</h1>
	</div>
</section>
<section>
	<div class="container banks">
		<a class="dot" href="{% url 'dbs_connect_account' %}">
			<img class="bankimage" style="width:100px;" src="{% static 'i_love_lamp/images/dbs.png' %}" alt="DBS">
		</a>
		<a class="dot" href="{% url 'ocbc_connect_account' %}">
			<img class="bankimage" style="width:80px;" src="{% static 'i_love_lamp/images/ocbc.png' %}" alt="OCBC">
		</a>						
		<a class="dot">
			<img class="bankimage" style="width:140px;" src="{% static 'i_love_lamp/images/uob.png' %}" alt="UOB">
		</a>
	</div>
</section>
<footer>
	<div class="container footer">
		<h6>Pay with</h6>				
		<img style="width: 80px;height: 40px;" src="{% static 'i_love_lamp/images/paynow.png' %}" alt="PayNow">
	</div>
</footer>

{% endblock %}