html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.brand-icon {
  width: 150px;
  margin-left: 4.5%;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headline {
  text-align: left;
}

header, section {
  padding: 40px 0px 20px 0px;
}

.valueprop {
  text-align: left;
}

.banner {
  padding: 3px 20px 3px 20px;
  background-color: #33ffc1;
  text-align: center;
  height: 30px;
}

span.banner-text {
  font-size: 1.5rem;
  vertical-align: text-bottom;
}

.banner a {
  color: #000;
}

.banner a:hover {
  text-decoration: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: 700;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
}

h1,
.h1 {
  font-size: 3rem !important;
}

h2,
.h2 {
  font-size: 2.7rem;
}

h3,
.h3 {
  font-size: 2.5rem;
}

h4,
.h4 {
  font-size: 2.2rem;
}

h5,
.h5 {
  font-size: 2rem;
}

.font-lg {
  font-size: 4rem !important;
}

.section {
  position: relative;
}

.section-heading {
  position: relative;
  padding: 20px 0px;
}


td {
  font-size: 1.5rem;
}

html:not([data-scroll='0']) .maesh-nav {
  top: 0px;
  background-color: white;
  width: 100%;
  z-index: 100;
  position: fixed;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05);
}

div.maesh-nav {
  width: 100%;
  z-index: 100;
  position: absolute;
  height: auto;
  padding: 1vh 0;
}

.shape-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 120vh;
}

.shape-wrapper {
  position: absolute;
  /* overflow: hidden; */
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.shape-left,
.shape-right,
.shape-center,
.shape-top {
  position: absolute;
  max-width: 560px;
}

.section.header {
  display: flex;
  flex-direction: column
}

.header {
  text-align: center !important;
}

.header .shape-main {
  background-color: #5d3edc;
}

.header .shape-top {
  background-color: #ff4a59;
}

.header .shape-main,
.banner .shape-main {
  bottom: 0;
  width: 100%;
  height: 235%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(65%, -30%) rotate(-60deg);
  transform: translate(65%, -30%) rotate(-60deg);
  position: absolute;
}

.banner .shape-main {
  -webkit-transform: translate(50%, -20%) rotate(-150deg);
  transform: translate(50%, -20%) rotate(-150deg);
}

.header .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(80%, -70%) rotate(-60deg);
  transform: translate(80%, -70%) rotate(-60deg);
  left: 50%;
}

.banner .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  transform: translate(100%, -65%) rotate(-60deg);
  -webkit-transform: translate(110%, -65%) rotate(-60deg);
  right: 20%;
  height: 150%;
}

.shape.shape-background.shape-main {
  top: 135vh;
  right: -5vw;
  z-index: 1;
}

.shape.shape-background.shape-top{
  right: 25%;
  top: 130vh;
  left: unset;
}

.header .shape-background, .banner .shape-background {

  top: 100vh;
  right: -95vw;

  z-index: 0;
  bottom: 100px;

  height: 45%;
  width: 70%;
}

.banner {
  z-index: 1;
}

.shape-background {
  background-color: #f9fbfd;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 40px;
  z-index: -1;
}

.container.landing {
  padding: 0px;
  text-align: left;
  width: 70%;
  margin-left: 0;
}



.gradient {
  background-color: transparent;
}

.gradient.gradient-53 {
  background-image: linear-gradient(-135deg, #261370 25%, #ff4a59 100%);
}

.gradient.gradient-35 {
  background-image: linear-gradient(-135deg, #ffbc5f 25%, #ff4a59 100%);
}

.col-lg-6,
.col-lg-12 {
  margin: 20px 0 0 0;
}

.col-md-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.col-md-4:last-child {
  border-bottom: 0;
}

@media (max-width: 1024px) {
  .shape.shape-background.shape-top {
    right: 25%;
    top: 150vh;
    left: unset;
  }
}

.instruction-toggle {
  display: flex; 
  align-items: flex-end; 
  justify-content: center;
}

.instruction-toggle > div > button {
  margin-right: 0;
}


@media (min-width: 768px) {
  .col-md-4 {
    border-bottom: 0;
  }

  .col-md-4:last-child {
    border-right: 0;
  }
}

@media (orientation: portrait){
  .shape.shape-background.shape-top {
    right: -10%;
    top: 125vh;
    left: unset;
  }
  .shape.shape-background.shape-main {
    top: 80vh;
    right: -60vw;
    z-index: 1;
  }
}

.lead {
  font-size: 1.6rem;
  line-height: 2;
}

.shadow {
  -webkit-box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 9px 1px rgba(0, 0, 0, 0.15);
}

button, a.button {
  padding: 1rem 3rem;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.3rem;
  text-decoration: none;
}

button:hover, a.button:hover {
  text-decoration: none;
}

button.primary, a.button.primary {
  background: #5D3EDC;
  color: white;
  border: none;
}

button.secondary, a.button.secondary {
  background: white;
  color: #5D3EDC;
  border: 1px solid #5D3EDC;
}

button.secondary:hover, a.button.secondary:hover {
  background: #ece8ff;
}

button.primary:hover, a.button.primary:hover {
  background: #261370;
}

.cta.button {
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2.3rem;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.cta.button.secondary {
  background-color: white;
  color: #ff4a59;
  height: auto;
  display: inline-block;
}

.cta.button:hover {
  color: #fff;
  background-color: #c71c2b;
}

.danger.button:hover {
  background-color: #c71c2b;
  color: white;
}


#desktop,
#mobile-qr,
#mobile-redirect {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#desktop {
  border-radius: 5px 0 0 5px;
}

#mobile-qr {
  border-radius: 0px;
}

#mobile-redirect {
  border-radius: 0 5px 5px 0;
}

#desktop:hover {
  color: white;
  background-color: #261370;
}

.btn-3 {
  color: #fff;
  background-color: #5d3edc;
}

.btn-4 {
  color: #fff;
  background-color: #ff4a59;
  border-color: #ff4a59;
}

.btn-rounded {
  border-radius: 10rem;
}

.btn {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  letter-spacing: 1.45px;
  font-weight: 400;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  white-space: normal;
  text-align: center;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 2.4rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn:focus:not(:disabled):not(.disabled),
.btn:hover:not(:disabled):not(.disabled) {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

a,
a:focus,
a:active,
a:hover {
  outline: 0 !important;
  color: #5d3edc;
}

a {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#conversion-rate,
#how-does-it-work {
  position: relative;
  padding-top: 110px;
  height: auto;
  padding-bottom: 10vh;
}

#conversion-rate .container,
#how-does-it-work .container {
  text-align: center !important;
}

.media-body {
  align-self: center;
}

div.row.instruction-section > div {
  height: 100%;
  align-self: center;
}

#conversion-rate:before,
#how-does-it-work:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 150%;
  -webkit-transform: skewY(-8deg);
  transform: skewY(-8deg);
  background: #f6f9fc;
}

#how-does-it-work:before {
  height: 115%;
}

.footer {
  background: transparent;
  overflow: hidden;
  margin-top: -180px;
  padding-top: 500px;
  position: relative;
  z-index: 1;
}

img.merchant-image {
  height: 100px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  border-radius: 200px;
}

#mer
 
#ecommerce-stores {
  display: flex; 
  flex-direction: column;
}

.platform-icon {
  height: 100px;
  width: 140px;
}

.integration-text {
  font-size: 1.5rem;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

@media (max-width: 768px) {
  #ecommerce-stores {
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

}

@media (max-width: 768px) {
  .platform-icon {
    width: auto;
    height: 50px;
  }
}

#footer:before,
#footer-consumer:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 400px;
  height: 800px;
  background: #f4f8fb;
  -webkit-transform: skew(0, -8deg);
  transform: skew(0, -8deg);
}

#footer-consumer {
  margin-top: 0px;
  padding-top: 0px;
}

.color-1 {
  color: aliceblue !important;
}

.color-2 {
  color: #646f79 !important;
}

a.card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 10px;
  z-index: 499;
  z-index: calc(500 - 1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px 30px 20px 70px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  -webkit-transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, -webkit-box-shadow, -webkit-transform;
  transition-property: color, background-color, box-shadow, transform;
  transition-property: color, background-color, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  /*cursor: pointer;*/
}

/*Not needed yet*/
/*a.card:hover, div.card:hover {
  color: #5d3edc!important; 
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}*/

@media (min-width: 670px) {
  a.card {
    padding: 40px 40px 40px 100px;
  }
}

@media (min-width: 992px) {
  a.card {
    -ms-flex-preferred-size: 1%;
    flex-basis: 1%;
    padding: 20px 40px 20px 100px;
  }
}

@media (min-width: 1200px) {
  a.card {
    padding: 40px 40px 40px 100px;
  }
}

.cards .container-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px auto;
  padding: 0 5px;
}

.container-xl {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1160px;
}

a.card svg {
  position: absolute;
  width: 110px;
  height: 80px;
  left: -40px;
}

@media (min-width: 670px) {
  a.card svg {
    left: -50px;
  }

}

@media (min-width: 880px) {
  a.card svg {
    left: -35px;
  }
}

.screen {
  margin-top: 4rem !important;
}

@media (max-width: 768px) {
  /* .screen  {
    margin-top: 11rem!important;
  } */
  .first-section {
    padding: 10vh 0;
  }  
  .section.header {
    padding: 10vh 0
  }


}

@media (min-width: 2160px) {
  .shape-main {
    top: 150vh;
    right: 40vh;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .screen {
    margin-top: 6rem !important;
  }
}

@media (min-width: 1200px) {
  .screen {
    margin-top: 3rem !important;
  }
}

/*Consumers page only*/

a.normal-card {
  padding: 20px 40px;
}

.normal-card ul {
  margin: 0px;
}

.card-title {
  display: flex;
  align-items: center;
}

.media-body .card-title {
  justify-content: center;
  padding: 0px 0px;
}

.accordion {
  max-width: 800px;
  margin: auto;
}

.card-body {
  font-size: 1.5rem;
  padding: 30px;
}

div.code-demo-container {
  height: 100%; 
  max-height: 35rem; 
  width: auto; 
  border-radius: 20px; 
  min-width: 550px; 
  background-color: #3d3d3d;
}

.icon {
  font-size: 2rem;
  width: 40px;
}

.media-body .icon {
  margin-right: 20px;
}

.accordion-button:hover, .accordion-button:focus{
  box-shadow: none !important;
  transform: none !important;
  padding-left: 0px;
}

.main {
  position: relative;
}

.main:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 15px;
  z-index: -1;
  background-color: #33ffc1;
}

.image {
  position: relative;
}

.image:before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
  background: url(../images/abstrakt-design-first-issue-1-04.svg);
  top: -150px;
  left: 0px;
}

@media (min-width: 768px) {
  .image:before {
    top: -200px;
    left: 400px;
  }
}

@media (min-width: 992px) {
  .image:before {
    top: -200px;
    left: 600px;
  }
}

#quick.main:before {
  width: 40px;
}

#quick,
#transparent,
#safe {
  z-index: -1;
  top: -30px;
  left: 20px;
}

#transparent.main:before {
  width: 95px;
}

#safe.main:before {
  width: 30px;
}

.paynow {
  width: 100px;
  top: -1px;
  position: relative;
}

@media (max-width: 670px) {
  #how-does-it-work .section-heading {
    margin-bottom: 120px;
  }
}

.bank-logos {
  height: 30px;
}

/*Merchants page only*/

.banks {
  height: 30px;
  border-radius: 20%;
}

.instruction-text {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.instruction-header {
  color: #5d3edc;
  font-weight: 700;
  text-align: left;
}

.comparison-header {
  color: #ff4a59;
  font-weight: 700;
  text-align: left;
}

.on-desktop {
  display: block;
}

.on-mobile-qr,
.on-mobile-redirect {
  display: none;
}

#mobile-qr,
#mobile-redirect {
  background-color: #fff;
  color: #000;
}

@media (max-width: 670px) {
  .valueprop {
    margin-top: 7rem;
  }
  .header .shape-background, .banner .shape-background {
    top: 80vh;
  } 
}

.rounded-t-md {
  border-top-right-radius: .75rem;
  border-top-left-radius: .75rem;
}

.rounded-b-md {
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
}

.rounded-sm {
  border-radius: .125rem;
}

@media (min-width: 576px) {
  .sm\:rounded-md {
    border-radius: .75rem;
  }

  .sm\:rounded-b-md {
    border-radius: .75rem;
  }

  .sm\:rounded-t-md {
    border-radius: .75rem;
  }
}

@media (min-width: 576px) {
  .sm\:z-10 {
    z-index: 10;
  }

}


@media (max-width: 576px) {
  div.shape.shape-background.shape-main {
    height: 315%;
    bottom: 10px;
  }

  div.shape.shape-background.shape-top {
    height: 25%;
    bottom: unset;
  } 
  #slider-comparison-container {
    margin-top: 5vh;
    width: 40vw;
  }

  #pitch-container {
    box-shadow: none;
  }
}

#comparison {
  height: auto;
  min-height: 40vh;
  background-color: white;
  padding-top: 10vh;
  margin-bottom: 0vh;
}

#slider-comparison-container {
  width: 100%;
}

#comparison > div, #comparison > div > div  {
  height: 100%;
}

@media (min-width: 576px) {
  .sm\:w-3\/5 {
    width: 60%;
  }
}

.instruction-section {
  font-size: 1.5rem;
}

.sm\:shadow-lg {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.uppercase {
  text-transform: uppercase;
}

.py-6 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.bg-additional {
  background-color: #5d3edc;
  color: #fff;
}

.bg-compare {
  background-color: #ff4a59;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.px-10 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

@media (min-width: 576px) {
  .sm\:px-10 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:py-6 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

.w-full {
  width: 100%;
}

.text-sm {
  font-size: .9rem;
}

.text-blue-darker {
  color: #1c3b61;
}

.border-t {
  border-top-width: 1px;
}

.border-r {
  border-right: 1px solid #e6ebf1;
}

@media (min-width: 576px) {
  .sm\:border-0 {
    border-width: 0;
  }
}

.border-gray-dark {
  border-color: #e6ebf1;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.bg-gray-darkest {
  background-color: #dee8f4;
  width: 59px;
  height: 25px
}

.bg-green {
  background-color: #33ffc1;
  width: 59px;
  height: 25px
}

.p-6 {
  padding: 2.5rem;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

.slidecontainer {
  width: 80%;
  left: 10%;
  position: relative;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 2px;
  /* Specified height */
  background: #e6ebf1;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  border-radius: 50%;
  background: #33ffc1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  border-radius: 50%;
  background: #33ffc1;
  cursor: pointer;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 576px) {
  .sm\:items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sm\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 4rem !important;
  }
}

.-mt-4 {
  margin-top: -4rem;
}

@media (min-width: 576px) {
  .sm\:-ml-4 {
    margin-left: -1rem;
  }
}

#additional {
  list-style: none;
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1.2em;
}

.bar-btn {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 670px) {
  .valueprop {
    margin-top: 7rem;
  }
}

.title {
  top: -5px;
  z-index: 1;
}

.title::before {
  width: 100px;
  height: 5px;
  top: 22px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner {
  width: 70%;
  margin: auto;
}

@media (max-width: 670px) {
  .carousel-inner {
    width: 100%;
  }
}

.link-button {
  border: none;
  color: #333333;
  background-color: white;
  box-shadow: none !important;
}

.link-button.btn:focus:not(:disabled):not(.disabled), .link-button.btn:hover:not(:disabled):not(.disabled) {
  box-shadow: none;
}

.small-only {
  display: none
}

@media only screen and (max-width: 600px) {
  div#maesh-demo {
    display: none;
  }
  .valueprop {
    margin-top: 3rem;
  }
  div.code-demo-container {
    display: none
  }

  div.instruction-toggle > div > button {
    font-size: 1rem;
    height: 5rem;
  }

  div.shape-wrapper.lead {
    height: 120%;
  }

  div.row.instruction-section > div {
    padding-top: 0;
    padding-bottom: 0;
  }

  div.row.instruction-section > div > div > div  img {
    height: 40px !important;
  }

  div#pitch-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
  }

  .testimonial {
    padding: 20px !important;
  }
  .small-only {
    display: block;
  }
}

.testimonial-author {
  display: flex; 
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 10px;
}

.testimonial-name {
  display: flex; 
  align-items: center; 
  padding: 5px;
}

.testimonial {
  padding: 60px;
}

.navbar-nav.ml-auto > li {
  background-color: white;
}

.accordion-button {
  width: 100%;
  text-align: left;
  padding-left: 0px;
  color: black;
  font-size: 1.7rem;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
}

.card {
  border: 1px solid rgba(0,0,0,.125);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}

.accordion .card:first-of-type , .accordion .card:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0.7px solid rgba(0,0,0,.125);
}

.accordion div {
  background-color: white;
}

.accordion-button.btn-link:hover {
  color: #000;
  text-decoration: none;
}

.modal-body {
  margin: auto;
}

.modal-content {
  border-radius: 10px;
}

.modal-instructions {
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
}

input[type=text], input[type=email], input[type=password] {
  background: #FFFFFF;
    border: 0.7px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 4px;
    height: 3rem;
    margin-top: 2px;
    padding: 0.6rem 0.8rem;
    font-size: 1.25rem;
}

.entry__field {
  border: none !important;
}

div.sib-input.sib-form-block, div.sib-form-block {
  padding-left: 0px;
  padding-right: 0px;
}

:focus {
    outline: none;
}

.entry__field:focus-within {
  box-shadow: none !important;
}