{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>A better DBS app</title>
	<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&display=swap" rel="stylesheet">
	<link href="{% static 'dbs/css/style.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset='utf-8'>
	<link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body class="text-center">
	<header>
		<div class="container">
			<h2>A better DBS app</h2>
		</div>
	</header>
	<section class="bg-orange">
		<p>
			{% if credentials == False %}
			<a class="button" href="{% url 'connect_account' %}">Connect bank account</a>
			{% else %}
			<a class="button" href="{% url 'account_balance' %}">Account balance</a>
			<a class="button" href="{% url 'transfer' %}">Make transfer</a>
			<a class="button" href="{% url 'payNow' %}">PayNow</a>
			<a class="button" href="{% url 'transaction_history' %}">Show transaction history</a>
			{% endif %}
		</p>
	</section>
	<section class="bg-white">
		{% block body %}
		{% endblock %}
	</section>
	<footer class="bg-gray">
		<div class="container">
		</div>
	</footer>
</body>
</html>