{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Maesh Payment</title>
	<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">
	{% if prototype %}
	<link href="{% static 'i_love_lamp/css/style.css' %}" rel="stylesheet">
	{% endif %}
	<link href="{% static 'maesh/css/style.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset='utf-8'>
	<meta prefix="og: http://ogp.me/ns#" property="og:title" content="Maesh - The best online payment solution in Singapore 🇸🇬">
	<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://maesh.io/">
	<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% static 'maesh/images/maesh.png' %}">
	<meta prefix="og: http://ogp.me/ns#" property="og:description" content="It's simply cheaper">
	<link rel="shortcut icon" type="image/png" href="{% static 'maesh/images/favicon.png' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'i_love_lamp/js/javascript.js' %}"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta name="robots" content="noindex">
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'UA-110811143-5');
	</script>
	<!-- Hotjar Tracking Code for https://maesh.io -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:1445242,hjsv:6};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
</head>
<body class="text-center">
	{% block body %}
	{% endblock %}
</body>
</html>