{% extends "../maesh/index.html" %}
{% load static %}
{% block body %}
{% if prototype %}
<header style="background-color: #ffffff;">
	<div class="container">
		<a class="upperleft" href="{% url 'payment_method' %}">
			<i class="fas fa-less-than"></i>
		</a>
		<h2>Payment</h2>
	</div>
</header>
{% endif %}
<section id="screen" class="section">
	<div class="container">
		<h1>Make Payment</h1>
		<h4 class="desktop">Scan QR code with any <img style="height: 50px;" src="{% static 'maesh/images/paynow.png' %}" alt="PayNow"> app</h4>
		<h4 class="mobile" style="padding-bottom: 25px;">Take a screenshot and upload it in your bank's e-wallet:</h4>
		<!-- <div class="mobile">Choose your bank's e-wallet<br>Enter the amount of S${{amount|floatformat:2}} and the reference code {{referenceCode}}:</div>
		<div class="desktop">Scan the QR code with any app that accepts <img style="width: 80px;height: 40px;top: -2px;position: relative;" src="{% static 'maesh/images/paynow.png' %}" alt="PayNow"></div> -->
	</div>
<!-- 	<div class="container mobile" style="padding-top: 30px;">
		<a class="mobile" href="http://www.dbs.com.sg/personal/mobile/paylink/index.html?tranRef=O3gQn6KiWl"><img class="bankimage" style="width:200px;" src="{% static 'maesh/images/paylah.png' %}" alt="DBS PayLah!"></a>
	</div> -->
	<div class="container" id="container" style="padding-top: 25px;">
		<div>{{qr|safe}}</div>
		<!-- <button id="downloadQR" class="button">Download QR</button> -->
	</div>
	<div class="container" style="padding-top: 25px;">
		<div class="shape-wrapper">
			<div class="shape shape-background shape-right"></div>
			<!-- <img style="height: 600px; right:0px; position: absolute;" src="{% static 'maesh/images/abstrakt-design-first-issue-1-13.svg' %}"> -->
		</div>
		<div id="information" class="price">
			<h1 style="font-size: 2.5rem;">S${{amount|floatformat:2}}</h1>
			<div style="font-size: 1rem;"><strong>To:</strong> {{companyName}}</div>
			<div style="font-size: 1rem;"><strong>Reference code:</strong> {{referenceCode}}</div>
			<div style="font-size: 1rem;"><strong>Date: </strong>{% now "F j, Y" %} - {% now "H:i" %}</div>
		</div>
	</div>
	<div class="container" style="padding-top: 25px;">
		<form method="post" action="{% url 'redirect' %}">
			<input style="display: none;" name="id" value={{transaction_id}}>
			<div class="container">
				<button class="button" name="paid" type="submit">I paid</button>
			</div>
			{% csrf_token %}
		</form>
	</div>
</section>
<footer style="margin-bottom: 40px">
<!-- 	<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
 -->	<script src="{% static 'maesh/js/script.js' %}"></script>	
	<div class="container footer">
		<div>
			<h6>Powered by <a href="https://maesh.io" target="_blank"><img style="height: 40px;" src="{% static 'maesh/images/maesh.png' %}" alt="PayNow"></a></h6>
		</div>
		<div>
			<h6 style="margin-top: 10px;"><a style="color:#5d3edc;" href="https://maesh.io/consumers.html" target="_blank"><strong>What is Maesh?</strong></a></h6>
		</div>
	</div>
</footer>
{% endblock %}