{% load i18n %}

{% autoescape off %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
<!-- 	<link href="{% static 'maesh/css/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<body>
	<p><strong>Yay! 🙌 A new transaction:</strong></p>
	<p>Amount: {{transaction.amount}} {{transaction.currency}}<br>
		Company: {{transaction.company_name}} ({{transaction.UEN}})<br>
		Company reference code: {{transaction.reference_code}}<br>
		Redirect URI: {{transaction.redirect_uri}}<br>
		Transaction ID: {{transaction.transaction_id}}<br>
		Time: {{transaction.created|date:"D j F Y H:i"}}
	</p>
</body>

{% endautoescape %}
