{% extends "../i_love_lamp/index.html" %}
{% load static %}
{% block body %}

<header>
	<div class="container">
		<div class="upperleft">
			<i class="fas fa-bars"></i>
		</div>
		<h2>{{status}}</h2>
	</div>
</header>
<section class="section">
	<div class="container information" style="padding: 60px 0px; width:90%">
		<p>At I Love Lamp...</p>
		<p class="delighted">We're de<strong>light</strong>ed with your order</p>
		<img class="bankimage" style="width:250px;" src="{% static 'i_love_lamp/images/truck.png' %}" alt="DBS">
	</div>
	<div class="container" style="text-align: left; padding-top: 60px;">
		<p><strong>​​​​​​​Order number P864U8</strong></p>
		<p>Estimated delivery: <strong>tomorrow</strong></p>
		<p>Delivery/billing address:</p>
		<p>1 Kaki Bukit View<br>#05-11 Techview<br>Singapore 415941</p>
	</div>
</section>
<section style="background-color: #EBEBEB;">
	<div class="container">
		<a class="button" href="{% url 'product_page' %}">Continue shopping</a>
	</div>
</section>
{% endblock %}