{% extends "../i_love_lamp/index.html" %}
{% load static %}
{% block body %}

<header>
	<div class="container">
		<a class="upperleft" href="{% url 'product_page' %}">
			<i class="fas fa-less-than"></i>
		</a>
		<h2>Checkout</h2>
	</div>
</header>
<section style="background-color: #EBEBEB;">
	<div class="container">
		<div style="text-align: left;"><strong>Select payment method</strong></div>
	</div>
	<a id="paynow" class="container method">
			<div class="circle">
				<div><i id="circle" class="far fa-circle"></i></div>
			</div>
			<div class="description">
				<div class="paymentmethod">PayNow</div>
				<div class="surcharge">plus 2%</div>
			</div>
			<div class="image">
				<img class="paymentimage" src="{% static 'i_love_lamp/images/paynow.png' %}" alt="PayNow">
			</div>
	</a>
	<a class="container method">
		<div class="circle">
			<div><i class="far fa-circle"></i></div>
		</div>
		<div class="description">
			<div class="paymentmethod">Visa</div>
			<div class="surcharge">plus 3.4% + S$0.50</div>
		</div>
		<div class="image">
			<img class="paymentimage" src="{% static 'i_love_lamp/images/visa.png' %}" alt="Visa">
		</div>
	</a>
	<a class="container method">
		<div class="circle">
			<div><i class="far fa-circle"></i></div>
		</div>
		<div class="description">
			<div class="paymentmethod">MasterCard</div>
			<div class="surcharge">plus 3.4% + S$0.50</div>
		</div>
		<div class="image">
			<img class="paymentimage" src="{% static 'i_love_lamp/images/mastercard.png' %}" alt="MasterCard">
		</div>
	</a>
	<a class="container method">
		<div class="circle">
			<div><i class="far fa-circle"></i></div>
		</div>
		<div class="description">
			<div class="paymentmethod">PayPal</div>
			<div class="surcharge">plus 3.4% + S$0.50</div>
		</div>
		<div class="image">
			<img class="paymentimage" src="{% static 'i_love_lamp/images/paypal.png' %}" alt="PayPal">
		</div>
	</a>
</section>
<section style="background-color: #EBEBEB;">
	<div class="container">
		<a id="select" class="button disabled" href="{% url 'paynow_maesh' %}">Select</a>
	</div>
</section>

{% endblock %}