section {
  padding: 40px 0px 20px 0px;
}

section {
  font-weight: 400;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
}

.h1, h1 {
  text-transform: initial;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
}

.h6, h6 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-style: normal;
  margin-bottom: 0;
}

.shape-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.shape-top {
    position: absolute;
    max-width: 560px;
}

.shape-right {
    position: absolute;
    max-width: 560px;
    background-color: #F6F9FC;
}

.section {
  position: relative;
}

.section .shape-main {
  bottom: 0;
  width: 100%;
  height: 200%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(65%, 0%) rotate(-60deg);
  transform: translate(65%, 0%) rotate(-60deg);
  position: absolute;
  background-color: #5d3edc;
}

.section .shape-top {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(60%, -30%) rotate(-60deg);
  transform: translate(60%, -30%) rotate(-60deg);
  left: 50%;
  background-color: #ff4a59;
}

.section .shape-right {
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translate(0%, -80%) rotate(60deg);
  transform: translate(0%, -80%) rotate(60deg);
}

/*.header .shape-background {
  z-index: 0;
}*/

.shape-background {
    background-color: #f9fbfd;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 120px;
    z-index: -1;
}

.shape-right.shape-background {
    width: 80%;
    height: 150%;
}

/*.gradient {
  background-color: transparent;
}
.gradient.gradient-53 {
  background-image: linear-gradient(-135deg, #ffc371 25%, #5d3edc 100%);
}
.gradient.gradient-35 {
  background-image: linear-gradient(-135deg, #ffbc5f 25%, #ff4a59 100%);
}*/

.dot {
  height: 120px;
  width: 120px;
  background-color: #F6F9FC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.banks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

/* Button */
.button, .button:focus {
    width: 20%;
    min-width: 100px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 3px;
    background: #FF4A59;
    border-style: solid;
    border-color: #FF4A59;
    color: #ffffff;
    display:inline-block;
    cursor:pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.button:hover {
    background: #ffffff;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.cancel, .cancel:focus {
    background: #EBEBEB;
    border-color: #EBEBEB;
    color: #000000;
}

@media (max-width: 768px) {
    .button, .button:focus {
        padding: 3px 6px;
    }
}

@media screen and (min-width: 1025px) {
  .mobile{
    display:none;
  }
  .desktop{
    display:inline-block;
  }
}

@media only screen and (max-device-width : 1024px) {
  .mobile{
    display:inline-block;
    align-content: center;
  }
  .desktop{
    display:none;
  }
}